.event__intro h2 {
  margin: 0.4rem;
  text-align: center;
  text-transform: uppercase;
}

.event__intro p {
  margin: 0 auto;
  width: 90%;
  padding: 0 0.5rem 0.5rem;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.event h3 {
  margin: 0.5rem 0;
}

.event span {
  margin: 0.3rem 0;
}

.event__title {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.event__title h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.event__title p {
  font-size: 0.8rem;
}
.event > p {
  margin: 0.3rem 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}
