@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}

.line {
  margin: 5% auto;
  width: 60%;
  height: 1px;
  background-color: black;
}

@media (max-width: 767px) and (orientation: landscape) {
  .line {
    margin: 3% auto;
  }
}

@media (min-width: 768px) {
  .line {
    margin: 2% auto;
  }
}

@media (min-width: 1200px) {
  .line {
    width: 40%;
  }
}
